html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.radio_button_content:first-of-type {
    margin-right: 30px;
}

.radio_button {
    display: flex;
    justify-content: center;
}

.form-element {
    display: grid;
    width: 400px;
}

main {
    display: grid;
    text-align: center;
    align-content: center;
}


form {
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 60px;
}

footer .container{
    margin: 0px;
}

.dropdown {
    position: relative;
}

    .dropdown select {
        width: 100%;
    }

    .dropdown > * {
        box-sizing: border-box;
        height: 1.5em;
    }

    .dropdown input {
        position: absolute;
        width: calc(100% - 20px);
    }
